<ion-modal-view class="background-color-modal">
  <ion-header-bar class="background-menu-color font-menu-color">
    <h1 class="title title-center font-menu-color">{{ title }}</h1>
    <div class="buttons">
      <button class="button button-clear button-modal-close" ng-click="closeLoginSM()">X</button>
    </div>
  </ion-header-bar>
  <ion-footer-bar class="no-lines-footer">
      <div class="button-bar">
          <a style="border-radius: 0px;margin-right: 3px;" class="button button-modal-down" ng-click="clearFields();">CLEAR</a>
      </div>
      <div class="button-bar">
       <a style="border-radius: 0px;margin-left: 3px;"  class="button button-modal-down">SAVE</a>
      </div>
  </ion-footer-bar>
  <ion-content padding>
    <div style="text-align: center;margin-top: 10px;">
      <button class="button button-positive button-modal-logo ion-social-facebook {{ facebook }}" style="margin-left:5px;" ng-click="changeTitle('FACEBOOK');changeFacebook();"></button>
      <button class="button button-positive button-modal-logo ion-social-twitter {{ twitter }}" style="margin-left:1%;margin-right:1%;" ng-click="changeTitle('TWITTER');changeTwitter();"></button>
      <button class="button button-positive button-modal-logo ion-social-instagram {{ instagram }}" style="margin-right:5px;" ng-click="changeTitle('INSTAGRAM');changeInstagram();"></button>
    </div>

    <div style="margin-top:10px;">
      <label class="item item-input input-label-modal">
        <span class="input-label input-modal">USERNAME :</span>
        <input type="text" >
      </label>
      <label class="item item-input input-label-modal">
        <span class="input-label input-modal">PASSWORD :</span>
        <input type="password">
      </label>
    </div>
    <div>

    </div>

    <!--<form ng-submit="doLogin()">-->
      <!-- <label class="item">
        <button class="button button-block button-positive" type="submit">Log In</button>
      </label> -->
    <!--</form>-->
  </ion-content>
</ion-modal-view>
