<ion-view view-title="PERMISSIONS">

    <ion-nav-bar class="background-menu-color font-view-color">
        <ion-nav-back-button></ion-nav-back-button>
          <ion-nav-buttons side="left">
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-footer-bar class="background-color no-lines-footer bar bar-footer">
         <div class="button-bar">
            <a style="border-radius: 0px;margin-right: 3px;" class="button button-modal-down" ng-click="checkPermissions();">Continue</a>         
            </ion-icon>
        </div> 
    </ion-footer-bar>

  <ion-content scroll="false">
    <div class="font-alternate-color" style="margin-top: 10px;">
        <button class="button button-modal-logo {{gl}}" style="margin-left:8px;" ng-click="RequestPermission(1);">
                <ion-icon name="navigate" style="position: relative;top: 3px;"></ion-icon>
        </button>
        <div style="position:relative;top:-40px;left:40%" class="{{hideLocation}}">Grant location permission</div>
        <div style="position:relative;top:-40px;left:40%" class="{{hideLocation2}}">Granted!</div>
    </div>
    <div class="font-alternate-color" style="margin-top: 10px;">
        <button class="button button-modal-logo {{ga}}" style="margin-left:8px;" ng-click="RequestPermission(2);">
                <ion-icon name="mic" style="position: relative;top: 3px;"></ion-icon>
        </button>
        <div style="position:relative;top:-40px;left:40%" class="{{hideAudio}}">Grant audio permission</div>
        <div style="position:relative;top:-40px;left:40%" class="{{hideAudio2}}">Granted!</div>
    </div>
    <div class="font-alternate-color" style="margin-top: 10px;">
        <button class="button button-modal-logo {{gr}}" style="margin-left:8px;" ng-click="RequestPermission(3);">
                <ion-icon name="videocam" style="position: relative;top: 3px;"></ion-icon>
        </button>
        <div style="position:relative;top:-40px;left:40%" class="{{hideRecord}}">Grant record permission</div>
        <div style="position:relative;top:-40px;left:40%" class="{{hideRecord2}}">Granted!</div>
    </div>
    <div class="font-alternate-color" style="margin-top: 10px;">
        <button class="button button-modal-logo {{gst}}" style="margin-left:8px;"ng-click="RequestPermission(4);">
                <ion-icon name="folder" style="position: relative;top: 3px;"></ion-icon>
        </button>
        <div style="position:relative;top:-40px;left:40%" class="{{hideStorage}}">Grant storage permission</div>
        <div style="position:relative;top:-40px;left:40%" class="{{hideStorage2}}">Granted!</div>
    </div>
    <div class="font-alternate-color" style="margin-top: 10px;">
        <button class="button button-modal-logo {{gp}}" style="margin-left:8px;" ng-click="RequestPermission(5);">
                <ion-icon name="call" style="position: relative;top: 3px;"></ion-icon>
        </button>
        <div style="position:relative;top:-40px;left:40%" class="{{hidePhone}}">Grant phone permission</div>
        <div style="position:relative;top:-40px;left:40%" class="{{hidePhone2}}">Granted!</div>
    </div>
    <div class="font-alternate-color" style="margin-top: 10px;">
        <button class="button button-modal-logo {{gs}}" style="margin-left:8px;" ng-click="RequestPermission(6);">
                <ion-icon name="chatboxes" style="position: relative;top: 3px;"></ion-icon>                  
        </button>
        <div style="position:relative;top:-40px;left:40%" class="{{hideSms}}">Grant sms permission</div>
        <div style="position:relative;top:-40px;left:40%" class="{{hideSms2}}">Granted!</div>
    </div>
  </ion-content>

</ion-view>

