<ion-view view-title="TRACK HISTORY">
  
    <ion-nav-bar class="background-menu-color font-view-color">
        <ion-nav-back-button></ion-nav-back-button>
          <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon button-menu-icon" menu-toggle="left"></button>
        </ion-nav-buttons>
    </ion-nav-bar>

  <ion-content padding="true" class="has-header background-color">
    <div class="bar bar-header item-input-inset rect-color">
        <input type="text" id="search" placeholder=" Search" ng-model="search.name" 
                style="width:100%; padding-left:11px;" />
    </div>
    <ion-list>
        <ion-item  style="margin-bottom:2px;font-weight:bolder;color:#FFFFFF;" type="item-text-wrap" href="#/app/trackplayer"
            ng-repeat="track in tracks | filter:search | limitTo:listlength" ng-click="viewTrack(track.name, track.nativeURL);">
            {{track.name}}
            <span id="go">></span>
        </ion-item>
    </ion-list>

  </ion-content>
</ion-view>