<ion-view view-title="TRACK PLAYER">

    <ion-nav-bar class="background-menu-color font-view-color">
        <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
          <i class="ion-arrow-left-c" style="font-size:27px;margin-left:12px;position:relative;top:3px" ng-click="goBack()"></i>
      </ion-nav-buttons> 
    </ion-nav-bar>

    <ion-footer-bar class="no-lines-footer transparent-footer">
        <div class="button-bar">
            <a style="border-radius: 0px;margin-right: 3px;" class="button button-modal-down" ng-click="DeleteFile();">DELETE</a>         
            </ion-icon>
        </div>
    </ion-footer-bar>

  <ion-content scroll="false">
      <div id="videos-player">
          <video id="player" poster = "img/background-record.jpg">
            <source src="" type="video/mp4">
          </video>
      </div>
  </ion-content>

</ion-view>
