<ion-view view-title="TRACK HISTORY">
  
    <ion-nav-bar class="background-menu-color font-view-color">
        <ion-nav-back-button></ion-nav-back-button>
          <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon button-menu-icon" menu-toggle="left"></button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <!-- <ion-footer-bar class="background-color no-lines-footer">
        <div class="button-bar button label-footer" style="align-content: right;text-align: right;">
            <label ng-click="clearFields();">CLEAR</label>
            <ion-icon name="cloud-outline" class="button-config-icon"></ion-icon>
             <ion-icon name="cloud-done" class="button-config-icon"></ion-icon> 
        </div>
    </ion-footer-bar> -->

  <ion-content padding="true" class="has-header background-color">

      <!-- <div class="item item-body rect-color" style="margin-bottom:6px;"> 
         <ion-icon name="pulse" class="button-config-icon" style="float:left"></ion-icon> 
         <label class="font-alternate-color font-bold font-20" style="margin-left:5%;">TRACK LIST</label> 
         <input type="checkbox" class="checkbox" style="float:right;margin-top:8px;"> 
      </div> -->
    <div class="bar bar-header item-input-inset rect-color">
        <input type="text" id="search" placeholder=" Search" ng-model="search.name" 
                style="width:100%; padding-left:11px;" />
    </div>
    <ion-list>
        <ion-item  style="margin-bottom:2px;font-weight:bolder;color:#FFFFFF;" type="item-text-wrap" href="#/app/trackplayer"
            ng-repeat="track in tracks | filter:search | limitTo:listlength" ng-click="viewTrack(track.name, track.nativeURL);">
            {{track.name}}
            <span id="go">></span>
        </ion-item>
    </ion-list>

  </ion-content>
</ion-view>